<div class="cover-container d-flex h-100 p-3 mx-auto flex-column text-center">
  <main role="main" class="inner cover">
    <h1 class="cover-heading">Банковская система платежей Privat25</h1>
    <p class="lead">Регистрация пользователей, открытие кредитных, депозитных счетов.
      Пользователи имеют возможность, отправлять средства со счета, на счет.
    Скачивать выписки счетов. </p>
    <p class="lead">
      <a href="/" class="btn btn-lg btn-secondary">Перейти в кабинет</a>
    </p>
  </main>
</div>