<p><%= t('forms.mailer.confirmation_instructions.welcome').join(" #{@email}") %>!</p>

<p> <%= t('forms.mailer.confirmation_instructions.instruction') %></p>

<p><%= link_to t('forms.mailer.confirmation_instructions.confirm_link_title'),
               confirmation_url(@resource, confirmation_token: @token) %></p>
