<p><%= t('forms.greeting').join(" #{@email}") %>!</p>

<% if @resource.try(:unconfirmed_email?) %>
  <p><%= t('forms.mailer.email_changed.new_mail').join(" #{@resource.unconfirmed_email}")%>.</p>
<% else %>
  <p><%= t('forms.mailer.email_changed.old_mail').join(" #{@resource.email}") %>.</p>
<% end %>
