<p><%= t('global.greeting').join("#{ @resource.email}")%>!</p>

<p> <%= t('forms.mailer.unlock_instructions.message') %></p>

<p> <%= t('forms.mailer.unlock_instructions.message_before_link') %></p>

<p><%= link_to t('forms.mailer.unlock_instructions.unlock_url_text'), unlock_url(@resource, unlock_token: @token) %></p>
